LATEEN_ORG_ID=00000000-0000-4000-8000-000000000001
LATEEN_AUTH_SUBJECT=ceo-cockpit
KEYCLOAK_ENABLED=false
NEXT_PUBLIC_LATEEN_BUSINESS_DNA_BASE_URL=http://localhost:4001
NEXT_PUBLIC_LATEEN_PRODUCT_DISCOVERY_BASE_URL=http://localhost:4002
NEXT_PUBLIC_LATEEN_IDENTITY_BASE_URL=http://localhost:4003
NEXT_PUBLIC_LATEEN_AI_PM_BASE_URL=http://localhost:3000
